
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("ShowProductList")" target="_blank">Show Product List</a>
</p>

<p>
    <a href="@Url.Action("ShowProductReview")" target="_blank">Show Product Review</a>
</p>